
.banner{
     background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url("../../../../src/images/banner.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: 100vh;
}

.banner-description{
    color: white;
    margin: 40px 60px;
}

.banner-large-text h1{
    font-size: 80px;
    font-weight: bolder;
}

.banner-large-text span{
    color: rgba(233, 26, 47, 0.91);
}
.banner-text{
    display: flex;
    flex-direction: row;
}
.banner-button{
    background-color: #e91a2fe8;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}

@media only screen and (max-width:668px){
    .banner{
        height: 110vh;
    }
    .banner-description{
        margin: 50px 20px;
    }
    .banner-large-text h1{
        font-size: 50px;
    }
    .banner-text{
        flex-direction: column;
    }
}