
.banner{
     background: linear-gradient(rgba(0, 0, 0, 0.418), rgba(0, 0, 0, 0.418)), url("../../../../src/images/banner.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: 100vh;
}

.banner-description{
    color: white;
}

.banner-large-text h1{
    font-size: 80px;
    font-weight: 600;
}

.banner-large-text span{
    color: #e91a2fe8;
}

.banner-button{
    background-color: #e91a2fe8;
    color: white;
    border: none;
    padding: 15px 50px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 400;
}