
.logo img{
    height: 50px;
    width: auto;
    border-radius: 5px;
}
.link-color{
    color: #fdfdfd;
    font-size: 20px;
    font-weight: 600;
}
.link-color:hover{
    color: #f3e6e7e8;
    border-bottom: 1px solid white;
}
.dashboard a:hover{
    color: #7c0511e8;
}
.dashboard h6{
    margin-right: 50px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.login a{
    text-decoration: none;
    color: white;
    background: #e91a2fe8;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
}
.logout-btn{
    color: white;
    background: #e91a2fe8;
    padding: 12px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}