
.logo img{
    height: 50px;
    width: 60px;
    border-radius: 5px;
}
.link-color{
    color: #b30303;
    font-size: 20px;
    font-weight: 600;
}
.link-color:hover{
    color: #7c0511e8;
}
.dashboard a:hover{
    color: #7c0511e8;
}
.dashboard a,span{
    margin-right: 50px;
    color: #b30303;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}
.login a{
    text-decoration: none;
    color: white;
    background: #e91a2fe8;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
}
.logout-btn{
    text-decoration: none;
    color: white;
    background: #e91a2fe8;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 30px;
    border: none;
}